<li>
{% if site.feedback_text %}
  {% assign feedback_text = "feedback.site_text" %}
{% else %}
  {% assign feedback_text = "feedback.title" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title="{% t feedback.submit %}" href="{{site.feedback_link}}">{% t {{feedback_text}} %}</a>
{% else %}
  <a class="email" title="{% t feedback.submit %}" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} feedback&body={% t feedback.email_text_one %} {{page.title}} {% t feedback.email_text_two %} ' + window.location.href;"><i class="fa fa-envelope-o"></i>{% t "{{feedback_text}}" %}</a>
{% endif %}
</li>
